<footer>
    <div class="footer">

        <div class="footerInfo">
            <h4>RJ Porcelanatos</h4>
            <p>Transformando ambiente com elegância</p>
        </div>

        <div class="footerBox">
            <p><span class="material-symbols-outlined">
                    call
                </span> (54) 9999-9999</p>


            <p><span class="material-symbols-outlined">
                    mail
                </span> {{email}}</p>
        </div>

        

    </div>
</footer>