nav {
    box-shadow: 0 4px 17px #0000004d;
    background: #fff;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinha a logo à esquerda e o menu à direita */
    height: 70px;
    padding: 0 20px; /* Adiciona um pouco de padding nas laterais */
    z-index: 1000;
}

.logo {
    padding-top: 20px;
    height: 90px; /* Ajuste o tamanho da logo conforme necessário */
    width: auto; /* Mantém a proporção da imagem */
}

nav ul {
    flex-direction: column; /* Uma coluna em telas pequenas */
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 70px;
    background: #fff;
    width: 100%;
    list-style: none;
  }

nav ul.open {
    display: flex;
}

nav ul.closed {
    display: none;
}

nav ul li {
    padding: 20px;
}

nav ul li a {
    font-size: var(--font-size-5);
}

nav ul li a:hover {
    color: var(--color-blue-2);
}

nav span {
    font-size: 45px;
    margin: 0 15px;
    cursor: pointer;
}

@media (min-width: 768px) {
    nav {
        justify-content: space-between; /* Mantém a logo à esquerda e o menu no centro */
        padding: 0 40px; /* Aumenta o padding em telas maiores */
    }

    nav ul {
        flex-direction: row; /* Layout em linha em telas maiores */
        position: relative;
        top: 0;
      }

    nav ul.open,
    nav ul.closed {
        display: flex;
        flex-direction: row;
        position: relative;
        top: 0;
    }

    nav span {
        display: none; /* Esconde o ícone de menu em telas maiores */
    }
}