<section id="banner" class="container-box">
    <div class="container">
        <div class="container-title">
            <h1>Bem vindo a RJ Porcelanatos</h1>
        </div>

        <div class="container-paragrafo">
            <p>
                Somos uma empresa líder em porcelanatos, dedicada a transformar ambientes com elegância. <br>
                Se você quer renovar sua casa ou espaço comercial, está no lugar certo!
            </p>
        </div>

        <div class="container-orcamento">
            <a href="">Solicitar Orçamento</a>
        </div>
    </div>
</section>

 <section id="diferenca"  class="features">
    <div class="feature">
        <span class="material-symbols-outlined">
            location_city
            </span>
        <h3>Qualidade Premium</h3>
        <p>Produtos de alta durabilidade e acabamento excepcional</p>
      </div>
      <div class="feature">
        <span class="material-symbols-outlined">
            call
            </span>
        <h3>Atendimento Especializado</h3>
        <p>Equipe técnica pronta para auxiliar em seu projeto</p>
      </div>
      <div class="feature">
        <span class="material-symbols-outlined">
            mail
            </span>
        <h3>Orçamento Rápido</h3>
        <p>Resposta em até 24 horas úteis</p>
      </div>
 </section>
